<!-- uk-grid-collapse: Add this class to remove the grid gap entirely. -->
<div class="uk-grid-collapse uk-visible@m" uk-grid>

  <div id="bg-logo" class="uk-width-1-3 uk-background-muted">

    <div class="uk-light uk-background-secondary uk-padding uk-text-center">
      <h1 class="uk-text-center uk-hidden"> Hammer contructora </h1>
      <img src="{{site.baseurl}}/assets/img/logo_white.png" alt="" class="logo uk-animation-fade">

      <h4 class="uk-margin-remove-bottom uk-animation-fade">Construimos viviendas familiares <br>en la Región de la Araucanía</h4>

      <p class="uk-margin-small-top uk-animation-fade uk-text-small uk-text-center">
        <span uk-icon="icon: mail"></span> constructorahammerspa@gmail.com <br>
        <span uk-icon="icon: whatsapp"></span> +56997115558
      </p>

    </div>

    <div id="menu" class="uk-padding uk-background-cover">
      <ul class="uk-nav uk-animation-fade">
        <li class="uk-nav-header uk-active"><a class="a-uk-active" href="#" uk-scroll>Home</a></li>
        <li class="uk-nav-header"><a href="#projects" uk-scroll>Proyectos</a></li>
          {% for p in site.projects %}
            <li class="uk-nav-project uk-margin-small-left"><a href="#{{p.code}}" uk-scroll>{{ p.title }}</a></li>
          {% endfor %}
        <li class="uk-nav-header"><a href="#contact" uk-scroll>Contacto</a></li>
        <li class="uk-nav-header"><a href="#about" uk-scroll>About</a></li>
      </ul>
    </div>

  </div>

  <div id="carrousel" class="uk-width-2-3 uk-background-light">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true">

        <ul class="uk-slideshow-items carrousel">
            <li>
                <img data-src="{{site.baseurl}}/assets/img/obras/home01.jpg" alt="" uk-cover uk-img="target: !.uk-slideshow-items">
            </li>
            <li>
                <img data-src="{{site.baseurl}}/assets/img/obras/Lichtin/CasaLichtin6.jpg" alt="" uk-cover uk-img="target: !.uk-slideshow-items">
            </li>
            <li>
                <img data-src="{{site.baseurl}}/assets/img/obras/home02.jpg" alt="" uk-cover uk-img="target: !.uk-slideshow-items">
            </li>
            <li>
                <img data-src="{{site.baseurl}}/assets/img/obras/Olivares/CasaOlivares03.jpg" alt="" uk-cover uk-img="target: !.uk-slideshow-items">
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
  </div>

</div>


<!-- Mobile -->
<nav class="uk-background-secondary uk-navbar-transparent uk-flex uk-flex-middle" uk-navbar>
  <div class="uk-navbar-right uk-hidden@m">
    <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-list">
          <li><a class="navbar-link" href="#">Home</a></li>
          {% for p in site.projects %}
            <li><a href="#{{p.code}}" class="navbar-link">{{ p.title }}</a></li>
          {% endfor %}
          <li><a href="#contact" class="navbar-link">Contacto</a></li>
          <li><a href="#about" class="navbar-link">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="uk-light uk-background-secondary uk-text-center uk-hidden@m"">
  <h1 class="uk-text-center uk-hidden"> Hammer contructora </h1>
  <img src="{{site.baseurl}}/assets/img/logo_white.png" alt="" class="logo uk-animation-fade">
  <h4 class="uk-margin-remove-bottom uk-animation-fade">Construimos viviendas familiares <br>en la Región de la Araucanía</h4>
  <h4 class="uk-margin-small-top uk-animation-fade"><span uk-icon="icon: whatsapp"></span> +56997115558</h4> <br><br>
</div>
<!-- End Mobile -->
