---
layout: default
---

<header>
  <!-- Mobile -->
  <nav class="uk-background-secondary uk-navbar-transparent uk-flex uk-flex-middle" uk-navbar>
    <div class="uk-navbar-left uk-hidden@m">
      <a class="navbar-link " href="{{site.baseurl}}">
        <img src="{{site.url}}/assets/img/logo_white.png" alt="" class="logo-menu uk-animation-fade uk-padding-small">
      </a>
    </div>
    <div class="uk-navbar-right uk-hidden@m">
      <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
      <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
        <div class="uk-offcanvas-bar">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-list">
            <li><a class="navbar-link " href="{{site.baseurl}}">Home</a></li>
            {% for p in site.projects %}
              <li><a href="{{site.baseurl}}{{p.url}}" class="navbar-link">{{ p.title }}</a></li>
            {% endfor %}
            <li><a href="{{site.url}}#contact" class="navbar-link">Contacto</a></li>
            <li><a href="{{site.url}}#about" class="navbar-link">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<!-- Desktop -->

<nav class="uk-background-secondary uk-navbar-transparent uk-flex uk-flex-middle" uk-navbar>
  <div class="uk-navbar-left uk-visible@m">
    <a class="navbar-link " href="{{site.baseurl}}">
      <img src="{{site.baseurl}}/assets/img/logo_white.png" alt="" class="logo uk-animation-fade uk-padding-small">
    </a>
  </div>
  <div class="uk-navbar-right uk-visible@m">
    <ul class="uk-navbar-nav">
      <li><a class="white" href="{{site.url}}">Home</a></li>
      <li>
        <a href="{{site.baseurl}}#projects" class="uk-icon-link" uk-icon="triangle-down">Proyectos</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            {% for p in site.projects %}
              <li><a href="{{site.baseurl}}{{p.url}}">{{ p.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>
      <li><a href="{{site.url}}#contact" class="navbar-link">Contacto</a></li>
      <li><a href="{{site.url}}#about" class="navbar-link">About</a></li>
    </ul>
  </div>
</nav>

</header>


<div id="projects"class="uk-section uk-section-default">

  <div class="uk-container uk-container-small">

    <h1 class="uk-text-center">{{page.title}}</h1>
    <h4 class="uk-padding-large uk-padding-remove-top uk-padding-remove-bottom uk-text-center"> {{page.summary}} </h4>

    {% if page.images %}

    <div class="uk-position-relative uk-visible-toggle img-projects" tabindex="-1" uk-slideshow>
      <ul class="uk-slideshow-items" uk-height-viewport="height: 100">
        {% for i in page.images %}
          <li class="uk-nav-center">
            <img class="img-projects" src="{{site.baseurl}}/assets/img/obras/{{i}}" alt="">
          </li>
        {% endfor %}
      </ul>
      <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>


    {% endif %}

    {{page.content}}


  </div>
</div>
